<div class="control-panel controls">
  <button id="button-power" class="pure-button"><i class="fa fa-power-off"></i> Turn On</button>
  <button id="button-pause" class="pure-button"><i class="fa fa-pause"></i> Pause</button>
  <button id="button-play" class="pure-button"><i class="fa fa-play"></i> Play</button>
  <button id="button-skip" class="pure-button"><i class="fa fa-step-forward"></i> Skip</button>
  <button id="button-up" class="pure-button"><i class="fa fa-thumbs-up"></i></button>
  <button id="button-down" class="pure-button"><i class="fa fa-thumbs-down"></i> </button>
</div>
