{% extends "layout.html" %}

{% block body %}
<header>

</header>
<main>
	<article class="pure-g">
		<section id="stationList" class="pure-u-1 pure-u-md-1-3">
			<div class="stations">
				<button id="button-getList" class="pure-button blue"><i class="fa fa-refresh"></i></button>
		    	<button id="button-stations" class="pure-button"><i class="fa fa-music"></i> Station List</button>
				<button id="now" class="pure-button blue"></button>

			</div>
			<ul id="station-list">
			</ul>
		</section>
		<section class="pure-u-1 pure-u-md-1-3">
			{% include "controls.html" %}
			<div id="songs" class=""></div>
		</section>
		<section class="pure-u-1 pure-u-md-1-3">
			<div class="details-container">
				<button id="button-details" class="pure-button"><i class="fa fa-gears"></i> Details</button>
				<button id="button-history" class="pure-button"><i class="fa fa-history"></i> History</button>
			</div>
			<div id="songHistory"></div>
		</section>
	</article>
</main>
{% endblock %}

{% block scripts %}
<script src="/js/fetch.js"></script>
<script src="/js/controls.js"></script>
<script src="//mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="//cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
<script src="/js/sockets.js"></script>
{% endblock %}
